In [151]:
import pandas as pd 
import numpy as np

In [152]:
df = pd.read_csv('travel-times.csv')

In [153]:
df.head()

,Date,StartTime,DayOfWeek,GoingTo,Distance,MaxSpeed,AvgSpeed,AvgMovingSpeed,FuelEconomy,TotalTime,MovingTime,Take407All,Comments
0,1/6/2012,16:37,Friday,Home,51.29,127.4,78.3,84.8,NaN,39.3,36.3,No,NaN
1,1/6/2012,08:20,Friday,GSK,51.63,130.3,81.8,88.9,NaN,37.9,34.9,No,NaN
2,1/4/2012,16:17,Wednesday,Home,51.27,127.4,82.0,85.8,NaN,37.5,35.9,No,NaN
3,1/4/2012,07:53,Wednesday,GSK,49.17,132.3,74.2,82.9,NaN,39.8,35.6,No,NaN
4,1/3/2012,18:57,Tuesday,Home,51.15,136.2,83.4,88.1,NaN,36.8,34.8,No,NaN

In [154]:
cols=['Date','StartTime','DayOfWeek','GoingTo','Take407All']

In [155]:
df.isnull().sum()

Date                0
StartTime           0
DayOfWeek           0
GoingTo             0
Distance            0
MaxSpeed            0
AvgSpeed            0
AvgMovingSpeed      0
FuelEconomy        17
TotalTime           0
MovingTime          0
Take407All          0
Comments          181
dtype: int64

In [156]:
df.drop(columns='Comments',inplace=True)

In [157]:
df.drop(columns=cols,inplace=True)

In [158]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Distance        205 non-null    float64
 1   MaxSpeed        205 non-null    float64
 2   AvgSpeed        205 non-null    float64
 3   AvgMovingSpeed  205 non-null    float64
 4   FuelEconomy     188 non-null    object
 5   TotalTime       205 non-null    float64
 6   MovingTime      205 non-null    float64
dtypes: float64(6), object(1)
memory usage: 11.3+ KB

In [159]:
X=df.drop(columns='FuelEconomy')

In [160]:
from sklearn.cluster import KMeans

In [161]:
klus = [3,4,5,6,9,10]
score=np.inf
for k in klus:
    model=KMeans(n_clusters=k)
    model.fit(X)
    print(model.inertia_)
    if score > model.inertia_:
        score=model.inertia_
        bestK=k
    
    
bestK

22625.727750708902
15658.749574955506

C:\Users\Sameh\anaconda3\envs\myenv\lib\site-packages\sklearn\cluster\_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(
C:\Users\Sameh\anaconda3\envs\myenv\lib\site-packages\sklearn\cluster\_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(
C:\Users\Sameh\anaconda3\envs\myenv\lib\site-packages\sklearn\cluster\_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(
C:\Users\Sameh\anaconda3\envs\myenv\lib\site-packages\sklearn\cluster\_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(

13280.949864658456
11356.650923384621
7720.082780770097
6970.566855319239

C:\Users\Sameh\anaconda3\envs\myenv\lib\site-packages\sklearn\cluster\_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(
C:\Users\Sameh\anaconda3\envs\myenv\lib\site-packages\sklearn\cluster\_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(

10

In [162]:
model=KMeans(n_clusters=3)
model.fit(X)

C:\Users\Sameh\anaconda3\envs\myenv\lib\site-packages\sklearn\cluster\_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(

KMeans(n_clusters=3)

In [163]:
df['label']=model.labels_

In [164]:
null_df = df[df.FuelEconomy.isna()]

In [165]:
not_nuu = df[~df.FuelEconomy.isna()]

In [166]:
not_nuu.drop(index=not_nuu[not_nuu.FuelEconomy=='-'].index,inplace=True)

C:\Users\Sameh\AppData\Local\Temp\ipykernel_10920\1376116881.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  not_nuu.drop(index=not_nuu[not_nuu.FuelEconomy=='-'].index,inplace=True)

In [167]:
not_nuu['FuelEconomy']=not_nuu.FuelEconomy.astype(np.float32)

C:\Users\Sameh\AppData\Local\Temp\ipykernel_10920\448194225.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  not_nuu['FuelEconomy']=not_nuu.FuelEconomy.astype(np.float32)

In [168]:
not_nuu.groupby('label')['FuelEconomy'].mean()

label
0    8.724637
1    8.386818
2    8.745000
Name: FuelEconomy, dtype: float32

In [171]:
def fillna(df):
    if df['label']<2:
        df['FuelEconomy']=8.712768
    else:
        df['FuelEconomy']=8.419500
        
    return df

In [172]:
df=df.apply(fillna,axis=1)

In [174]:
df.isna().sum()

Distance          0
MaxSpeed          0
AvgSpeed          0
AvgMovingSpeed    0
FuelEconomy       0
TotalTime         0
MovingTime        0
label             0
dtype: int64

In [175]:
df

,Distance,MaxSpeed,AvgSpeed,AvgMovingSpeed,FuelEconomy,TotalTime,MovingTime,label
0,51.29,127.4,78.3,84.8,8.712768,39.3,36.3,0
1,51.63,130.3,81.8,88.9,8.712768,37.9,34.9,0
2,51.27,127.4,82.0,85.8,8.712768,37.5,35.9,0
3,49.17,132.3,74.2,82.9,8.712768,39.8,35.6,0
4,51.15,136.2,83.4,88.1,8.712768,36.8,34.8,0
...,...,...,...,...,...,...,...,...
200,54.52,125.6,49.9,82.4,8.419500,65.5,39.7,2
201,50.90,123.7,76.2,95.1,8.712768,40.1,32.1,0
202,51.96,132.6,57.5,76.7,8.419500,54.2,40.6,2
203,53.28,125.8,61.6,87.6,8.419500,51.9,36.5,2
204,51.73,125.0,62.8,92.5,8.712768,49.5,33.6,0